<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>142632452963-sbbgqf4jr6tp0n7s152jkme6gtes50kk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.142632452963-sbbgqf4jr6tp0n7s152jkme6gtes50kk</string>
	<key>API_KEY</key>
	<string>AIzaSyDdlkI4qI5fdkfwWwYUj3xzeddAEriwZx0</string>
	<key>GCM_SENDER_ID</key>
	<string>142632452963</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nmg.baseflutter.baseFlutter</string>
	<key>PROJECT_ID</key>
	<string>to-do-app-2caa5</string>
	<key>STORAGE_BUCKET</key>
	<string>to-do-app-2caa5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:142632452963:ios:61931ba0e3f0874174c956</string>
</dict>
</plist>